@font-face {
    font-family: Lex;
    src: url(https://fonts.google.com/specimen/Lexend+Deca);
}

@font-face {
    font-family: Shoulders;
    src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
}